<div fxLayout="row" fxLayoutAlign="space-between center" (click)="goBack()">
    <h1>
        Transaction Info - {{transId}}
    </h1>
    <button mat-raised-button color="primary" >
        <mat-icon>chevron_left</mat-icon> Back
      </button>
</div>
<mat-divider></mat-divider>
<div class="detail">
    <h3>FX information</h3>
    <div><strong>Original Amount : </strong> {{ transaction?.fx?.merchant?.originalAmount }}</div>
    <div><strong>Original Currency : </strong> {{ transaction?.fx?.merchant?.originalCurrency }}</div>
    
    <h3>Customer Info</h3>
    <div><strong>Id : </strong> {{ transaction?.customerInfo?.id }}</div>
    <div><strong>Email : </strong> {{ transaction?.customerInfo?.email }}</div>
    <div><strong>Number : </strong> {{ transaction?.customerInfo?.number }}</div>
    <div><strong>Expiry Month : </strong> {{ transaction?.customerInfo?.expiryMonth }}</div>
    <div><strong>Expiry Year : </strong> {{ transaction?.customerInfo?.expiryYear }}</div>
    <div><strong>Start Month : </strong> {{ transaction?.customerInfo?.startMonth }}</div>
    <div><strong>Issue Number : </strong> {{ transaction?.customerInfo?.issueNumber }}</div>
    <div><strong>Birthday : </strong> {{ transaction?.customerInfo?.birthday }}</div>
    <div><strong>Gender : </strong> {{ transaction?.customerInfo?.gender }}</div>
    
    <h3>Billing Info</h3>
    <div><strong>Title : </strong> {{ transaction?.customerInfo?.billingTitle }}</div>
    <div><strong>First Name : </strong> {{ transaction?.customerInfo?.billingFirstName }}</div>
    <div><strong>Last Name : </strong> {{ transaction?.customerInfo?.billingLastName }}</div>
    <div><strong>Company : </strong> {{ transaction?.customerInfo?.billingCompany }}</div>
    <div><strong>Address 1 : </strong> {{ transaction?.customerInfo?.billingAddress1 }}</div>
    <div><strong>Address 2 : </strong> {{ transaction?.customerInfo?.billingAddress2 }}</div>
    <div><strong>City : </strong> {{ transaction?.customerInfo?.billingCity }}</div>
    <div><strong>Postcode : </strong> {{ transaction?.customerInfo?.billingPostcode }}</div>
    <div><strong>Country : </strong> {{ transaction?.customerInfo?.billingCountry }}</div>
    <div><strong>Phone : </strong>{{ transaction?.customerInfo?.billingPhone }}</div>
    <div><strong>Fax : </strong>{{ transaction?.customerInfo?.billingFax }}</div>
    
    <h3>Shipping Info</h3>
    <div><strong>Title : </strong> {{ transaction?.customerInfo?.shippingTitle }}</div>
    <div><strong>First Name : </strong> {{ transaction?.customerInfo?.shippingFirstName }}</div>
    <div><strong>Last Name : </strong> {{ transaction?.customerInfo?.shippingLastName }}</div>
    <div><strong>Company : </strong> {{ transaction?.customerInfo?.shippingCompany }}</div>
    <div><strong>Address 1 : </strong> {{ transaction?.customerInfo?.shippingAddress1 }}</div>
    <div><strong>Address 2 : </strong> {{ transaction?.customerInfo?.shippingAddress2 }}</div>
    <div><strong>City : </strong>{{ transaction?.customerInfo?.shippingCity }}</div>
    <div><strong>Postcode : </strong> {{ transaction?.customerInfo?.shippingPostcode }}</div>
    <div><strong>State : </strong> {{ transaction?.customerInfo?.shippingState }}</div>
    <div><strong>Country : </strong> {{ transaction?.customerInfo?.shippingCountry }}</div>
    <div><strong>Phone : </strong> {{ transaction?.customerInfo?.shippingPhone }}</div>
    <div><strong>Fax : </strong> {{ transaction?.customerInfo?.shippingFax }}</div>
    
    <h2>Acquirer Transaction Info</h2>
    <div><strong>Acquirer Tr. Id : </strong> {{ transaction?.transaction.merchant?.acquirerTransactionId }}</div>
    <div><strong>Code : </strong> {{ transaction?.transaction.merchant?.code }}</div>
    <h4>Merchant Info</h4>
    <div><strong>Merchant Id : </strong> {{ transaction?.transaction.merchant?.merchantId }}</div>
    <div><strong>Name : </strong>{{ transaction?.merchant?.name }}</div>
    
    <h3>Merchant Transaction Info</h3>
    <div><strong>Merchant Id : </strong>{{ transaction?.transaction.merchant?.id }}</div>
    <div><strong>Merchant Reference No : </strong>{{ transaction?.transaction.merchant?.referenceNo }}</div>
    <div><strong>Status : </strong>{{ transaction?.transaction.merchant?.status }}</div>
    <div><strong>Channel : </strong>{{ transaction?.transaction.merchant?.channel }}</div>
    <div><strong>Custom Data : </strong> {{ transaction?.transaction.merchant?.customData }}</div>
    <div><strong>Chain Id : </strong> {{ transaction?.transaction.merchant?.chainId }}</div>
    <div><strong>Operation : </strong> {{ transaction?.transaction.merchant?.operation }}</div>
    <div><strong>Fx Transaction Id : </strong> {{ transaction?.transaction.merchant?.fxTransactionId }}</div>
    <div><strong>Created_Date : </strong> {{ transaction?.transaction.merchant?.created_at }}</div>
    <div><strong>Updated Date : </strong> {{ transaction?.transaction.merchant?.updated_at }}</div>
    <div><strong>Message : </strong> {{ transaction?.transaction.merchant?.message }}</div>
    <div><strong>Transaction Id : </strong> {{ transaction?.transaction.merchant?.transactionId }}</div>
    <h3>Agent Info</h3>
    <div><strong>Id : </strong> {{ transaction?.transaction.merchant.agent?.id }}</div>
    <div><strong>Customer Ip : </strong> {{ transaction?.transaction.merchant.agent?.customerIp }}</div>
    <div><strong>Customer User Agent : </strong> {{ transaction?.transaction.merchant.agent?.customerUserAgent }}</div>
    <div><strong>Merchant Ip : </strong> {{ transaction?.transaction.merchant.agent?.merchantIp }}</div>
    <div><strong>Merchant User Agent : </strong> {{ transaction?.transaction.merchant.agent?.merchantUserAgent }}</div>
</div>