<div fxLayout="row" gdColumn="1 / span 2" fxLayoutAlign="center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="1 2 calc(15em + 20px)">Transactions</mat-card>
    <mat-card fxFlex="1 2 calc(15em + 20px)">Reports</mat-card>
    <mat-card fxFlex="1 2 calc(15em + 20px)">Clients</mat-card>
</div>
<div>
    <mat-card fxLayout="column" fxLayoutAlign="center center" class="main-card">
        <h1>Welcome to User</h1>
        <br/>
        <p>
            If you want to learn more about, you should go <a routerLink="/admin/transactions">transactions</a> page.
        </p>
    </mat-card>
</div>