<div fxLayout="row" fxLayoutAlign="space-between center" (click)="goBack()">
  <h1>
    Client Info - {{transId}}
  </h1>
  <button mat-raised-button color="primary">
    <mat-icon>chevron_left</mat-icon> Back
  </button>
</div>
<mat-divider></mat-divider>
<div class="client">
  <div><strong>Id : </strong> {{ client?.customerInfo?.id }}</div>
  <div><strong>Email : </strong>{{ client?.customerInfo?.email }}</div>
  <div><strong>Number : </strong>{{ client?.customerInfo?.number }}</div>
  <div><strong>Expiry Month : </strong>{{ client?.customerInfo?.expiryMonth }}</div>
  <div><strong>Expiry Year : </strong>{{ client?.customerInfo?.expiryYear }}</div>
  <div><strong>Start Month : </strong>{{ client?.customerInfo?.startMonth }}</div>
  <div><strong>Issue Number : </strong>{{ client?.customerInfo?.issueNumber }}</div>
  <div><strong>Birthday : </strong>{{ client?.customerInfo?.birthday }}</div>
  <div><strong>Gender : </strong>{{ client?.customerInfo?.gender }}</div>

  <h3>Billing Info</h3>

  <div><strong>Title : </strong> {{ client?.customerInfo?.billingTitle }}</div>
  <div><strong>First Name : </strong> {{ client?.customerInfo?.billingFirstName }}</div>
  <div><strong>Last Name :</strong> {{ client?.customerInfo?.billingLastName }}</div>
  <div><strong>Company : </strong> {{ client?.customerInfo?.billingCompany }}</div>
  <div><strong>Address1 : </strong> {{ client?.customerInfo?.billingAddress1 }}</div>
  <div><strong>Address2 : </strong> {{ client?.customerInfo?.billingAddress2 }}</div>
  <div><strong>City : </strong> {{ client?.customerInfo?.billingCity }}</div>
  <div><strong>Postcode : </strong> {{ client?.customerInfo?.billingPostcode }}</div>
  <div><strong>Country : </strong> {{ client?.customerInfo?.billingCountry }}</div>
  <div><strong>Phone : </strong> {{ client?.customerInfo?.billingPhone }}</div>
  <div><strong>Fax : </strong> {{ client?.customerInfo?.billingFax }}</div>

  <h3>Shipping Info</h3>

  <div><strong>Title : </strong>  {{ client?.customerInfo?.shippingTitle }}</div>
  <div><strong>First Name : </strong> {{ client?.customerInfo?.shippingFirstName }}</div>
  <div><strong>Last Name : </strong> {{ client?.customerInfo?.shippingLastName }}</div>
  <div><strong>Company : </strong> {{ client?.customerInfo?.shippingCompany }}</div>
  <div><strong>Address 1 : </strong> {{ client?.customerInfo?.shippingAddress1 }}</div>
  <div><strong>Address 2 : </strong> {{ client?.customerInfo?.shippingAddress2 }}</div>
  <div><strong>City : </strong> {{ client?.customerInfo?.shippingCity }}</div>
  <div><strong>Postcode : </strong> {{ client?.customerInfo?.shippingPostcode }}</div>
  <div><strong>State : </strong> {{ client?.customerInfo?.shippingState }}</div>
  <div><strong>Country : </strong> {{ client?.customerInfo?.shippingCountry }}</div>
  <div><strong>Phone : </strong> {{ client?.customerInfo?.shippingPhone }}</div>
  <div><strong>Fax : </strong> {{ client?.customerInfo?.shippingFax }}</div>

</div>