<div>
  <h2>Client</h2>
  <div>
    <div>Id : {{ client?.customerInfo?.id }}</div>
    <div>Email : {{ client?.customerInfo?.email }}</div>
    <div>Number : {{ client?.customerInfo?.number }}</div>
    <div>Expiry Month : {{ client?.customerInfo?.expiryMonth }}</div>
    <div>Expiry Year : {{ client?.customerInfo?.expiryYear }}</div>
    <div>Start Month : {{ client?.customerInfo?.startMonth }}</div>
    <div>Issue Number : {{ client?.customerInfo?.issueNumber }}</div>
    <div>Birthday : {{ client?.customerInfo?.birthday }}</div>
    <div>Gender : {{ client?.customerInfo?.gender }}</div>
    
    <h3><strong>Billing Info</strong></h3>
    <div>Billing Title : {{ client?.customerInfo?.billingTitle }}</div>
    <div>Billing FirstName : {{ client?.customerInfo?.billingFirstName }}</div>
    <div>BillingLastName : {{ client?.customerInfo?.billingLastName }}</div>
    <div>BillingCompany : {{ client?.customerInfo?.billingCompany }}</div>
    <div>BillingAddress1 : {{ client?.customerInfo?.billingAddress1 }}</div>
    <div>BillingAddress2 : {{ client?.customerInfo?.billingAddress2 }}</div>
    <div>BillingCity : {{ client?.customerInfo?.billingCity }}</div>
    <div>BillingPostcode : {{ client?.customerInfo?.billingPostcode }}</div>
    <div>BillingCountry : {{ client?.customerInfo?.billingCountry }}</div>
    <div>BillingPhone : {{ client?.customerInfo?.billingPhone }}</div>
    <div>BillingFax : {{ client?.customerInfo?.billingFax }}</div>
    
    <h3><strong>Shipping Info</strong></h3>
    <div>ShippingTitle : {{ client?.customerInfo?.shippingTitle }}</div>
    <div>ShippingFirstName : {{ client?.customerInfo?.shippingFirstName }}</div>
    <div>ShippingLastName : {{ client?.customerInfo?.shippingLastName }}</div>
    <div>ShippingCompany : {{ client?.customerInfo?.shippingCompany }}</div>
    <div>ShippingAddress1 : {{ client?.customerInfo?.shippingAddress1 }}</div>
    <div>ShippingAddress2 : {{ client?.customerInfo?.shippingAddress2 }}</div>
    <div>ShippingCity : {{ client?.customerInfo?.shippingCity }}</div>
    <div>ShippingPostcode : {{ client?.customerInfo?.shippingPostcode }}</div>
    <div>ShippingState : {{ client?.customerInfo?.shippingState }}</div>
    <div>ShippingCountry : {{ client?.customerInfo?.shippingCountry }}</div>
    <div>ShippingPhone : {{ client?.customerInfo?.shippingPhone }}</div>
    <div>ShippingFax : {{ client?.customerInfo?.shippingFax }}</div>
  </div> 
</div>